div(class="tp-banner")
	ul
		// SLIDE
		li(data-transition="fade" data-slotamount="5" data-masterspeed="700")
			// MAIN IMAGE
			img(src="images/banner/banner-1.jpg" style="background-color:#b68954" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")

		// SLIDE
		li(data-transition="fade" data-slotamount="5" data-masterspeed="700")
			// MAIN IMAGE
			img(src="images/banner/banner-2.jpg" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")

		// SLIDE
		li(data-transition="fade" data-slotamount="5" data-masterspeed="700")
			// MAIN IMAGE
			img(src="images/banner/banner-3.jpg" style="background-color:#f26124" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat")
			// LAYERS

			// LAYER NR. 5
			div(
				class="tp-caption large_bold_white_25 headline skewfromleft customout"
				data-x="104"
				data-y="154"
				data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-speed="800"
				data-start="800"
				data-easing="Power4.easeOut"
				data-endspeed="300"
				data-endeasing="Power1.easeIn"
				data-captionhidden="on"
				style="z-index: 6"
			)
				| "La Felicidad es la máxima sastifacción"
				span Da vinci
	// <div class="tp-bannertimer"></div>
