.tp-banner
	div(id="slider1" class="rev_slider"  data-version="5.0")
		ul
			li(data-transition="fade")
				// MAIN IMAGE

				img(src="images/banner/banner-1.jpg"  alt=""  width="1920" height="1280")
				// LAYER NR. 1
				div(
					class="tp-caption News-Title tp-resizeme rs-parallaxlevel-0"
					data-x="['left','left','center','center']"
					data-hoffset="['80','80','0','0']"
					data-y="center"
					data-voffset="-15"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="x:[-100%];opacity:0;s:500"
					data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
					data-start="500"
					data-fontsize="['40','40','55','55']"
					data-fontweight="600"
					data-color="#ffffff"
				)
					| DISCOVER THE WILD
				div(
					class="tp-caption News-Title tp-resizeme rs-parallaxlevel-0"
					data-x="['left','left','center','center']"
					data-hoffset="['80','80','0','0']"
					data-y="center"
					data-voffset="15"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="x:[-100%];opacity:0;s:1000"
					data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
					data-start="500"
					data-fontsize="['30','30','45','45']"
					data-fontweight="400"
					data-color="#ffffff"
				)
					| DISCOVER THE WILD
 
			li(data-transition="fade")
				// MAIN IMAGE
				img(src="images/banner/banner-2.jpg"  alt=""  width="1920" height="1280")
				// LAYER NR. 1
				div(
					class="tp-caption News-Title tp-resizeme rs-parallaxlevel-0"
					data-x="['left','left','center','center']"
					data-hoffset="['80','80','0','0']"
					data-y="center"
					data-voffset="0"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="x:[-100%];opacity:0;s:500"
					data-transform_out="auto:auto;s:500;e:Power2.easeInOut;"
					data-start="500"
					data-fontsize="['40','40','55','55']"
					data-fontweight="600"
					data-color="#ffffff"
				) DISCOVER THE WILD DISCOVER
